<h3>Apps</h3>

<p ng-if="!apps.length">Loading...</p>

<div ng-if="apps.length">

    <div class="app-item" ng-repeat="app in apps">
        <a ng-href="{{app.url}}"><strong>{{app.name}}</strong></a>
        <a class="app-details-button" ng-click="restartApp(app)">restart</a>
        <ul>
            <li>created: {{app.created}}</li>
            <li>updated: {{app.updated}}</li>
            <li ng-if="app.gitUrl">Repo: <a ng-href="{{app.gitUrl}}">{{app.gitUrl}}</a></li>
            <li ng-if="app.metrics">Metrics: <a ng-href="{{app.metrics.url}}">{{app.metrics.name}}</a></li>
            <li ng-if="app.logs">Logs: <a ng-href="{{app.logs.url}}">{{app.logs.name}}</a></li>
            <li>
                Status: {{monitors[app.name].status || 'monitoring OFF'}}
            </li>
        </ul>
        <span class="live-status-checkbox">
            Live status monitoring: &nbsp;&nbsp; <input type="checkbox" ng-model="app.liveStatus" ng-change="switchLiveStatus(app)" />
        </span>
    </div>

</div>
