<h3>Apps</h3>

<p ng-if="!apps.length">Loading...</p>

<div ng-if="apps.length">

    <div class="app-item" ng-repeat="app in apps">
        <strong>{{app.name}}</strong>
        <a class="app-details-button" ui-sref="appDetails({app:app.name})">more</a>
        <ul>
            <li>
                Status:
                <span ng-if="app.name==='hello-world-heroku1'">
                    <span id="hello-world-heroku1-status"></span>
                </span>
                <span ng-if="app.name!=='hello-world-heroku1'">
                    <span ng-if="app.status">{{app.status}}</span>
                    <span ng-if="!app.status">N/A</span>
                </span>
            </li>
            <li>Repo: <span ng-if="app.repositoryUrl">{{app.repositoryUrl}}</span><span ng-if="!app.repositoryUrl">N/A</span></li>
            <li>Monitoring: <span ng-if="app.monitoringUrl">{{app.monitoringUrl}}</span><span ng-if="!app.monitoringUrl">N/A</span></li>
            <li>Logs: <span ng-if="app.logsUrl">{{app.logsUrl}}</span><span ng-if="!app.logsUrl">N/A</span></li>
        </ul>
    </div>

</div>