.app-item {
  background: #eee;
  border-radius: 5px;
  width: 200px;
  height: 100px;
  padding: 10px;
  color: #111;
  float: left;
  margin: 0 20px 20px 0;
  white-space: nowrap
}

.app-details-button {
  text-decoration: none;
  color: @text-color;
  padding: 0.5px 2.5px 3px 2.5px;
  float: right;
  border: 1px solid #000000;
  background: @primary-color;
  border-radius: 3px;
}

.blabla {
  display:inline;
}

.app-details-button:hover {
  background: @primary-color-hover;
}

li {
  list-style-type: none;
}