@import '_colors';

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  height: 100%;
}

body {
  background: @body-bg-color;
  color: @text-color;
  font: 14px/1.5 'Lato', sans-serif;
}

.clickable {
  cursor: pointer;
}

.github-login-button {
  text-decoration: none;
  padding: 5px 15px;
  color: #000;
  padding-right: 32px;
  border-radius: 3px;
  background: #fff url(https://image.flaticon.com/icons/png/512/25/25231.png) top right no-repeat;
  background-size: contain;

  &:hover {
    background-color: #ddd;
  }
}

@import "sidebar";
@import "content";

@import "apps";


